* {
    margin: 0;
    padding: 0;
}


body {

    font-family: "JetBrains Mono", sans-serif;
    color: black;
    max-width: 900px;
    margin: auto;

}

header {
    display: flex;
    justify-content: space-between;
    background: black;

}
.boton{

    display: flex;
    margin-top: 90px;
    margin-right: 160px;
}
.boton a:hover{
    display: flex;
    color: antiquewhite;
    transform: scale(1.1);
}

header h2{

    margin-top:  50px;
    margin-left: 120px;
    color: mediumpurple;


}
header h2 a{
    color: mediumpurple;
    text-decoration: none;
}

.boton div {

    margin: 10px;
    height: 30px;

}

.boton a {


    margin: 3px;
    font-weight: bold;
    color: mediumpurple;
    font-size: 20px;

}
main{
    display: flex;
    justify-content: center;
    padding: 150px;
    background-color:  #eee;

}
main div{
    margin: 20px;
}
footer {

    display: flex;
    justify-content: center;
    background: black;
    min-width: auto;
    flex-wrap: wrap;

}

footer a {
    color: mediumpurple;
}
footer a:hover{
    color: antiquewhite;
}

.llicencia {

    text-align: center;
    color: antiquewhite;
    margin: 30px;
}

.biblio {
    color: antiquewhite;
    margin: 30px;


}

.follow {
    color: antiquewhite;
    margin: 30px;

}
@media  (max-width: 1000px){
    body {

        font-family: "JetBrains Mono", sans-serif;
        color: black;
        max-width: none;

    }
    header h2{

        margin: 40px;
        color: mediumpurple;
    }


}