
    * {
        margin: 0;
        padding: 0;
    }

    body {

        font-family: "JetBrains Mono", sans-serif;
        color: black;

    }

    header {
        display: flex;
        justify-content: space-between;
        background: black;
        width: 100%;
        height: 90px;
        position: fixed;
        z-index: 99;

    }
    .boton{

        display: flex;
        margin-top: 40px;
        height: auto;
        margin-right: 130px;

    }

    .boton a:hover{

        color: antiquewhite;
        transform: scale(1.1);

    }

    header h2{

        margin-top:  30px;
        margin-left: 120px;
        color: mediumpurple;
    }

    header h2 a{
        color: mediumpurple;
        text-decoration: none;
    }

    header h2 a:hover{

        display: flex;
        transform: scale(1.7);
    }

    .boton div {

        margin: 10px;
        height: 30px;
    }

    .boton a {

        display: flex;
        margin: 3px;
        font-weight: bold;
        color: mediumpurple;
        font-size: 20px;
    }

    .princ {

        display: flex;
        padding-top: 120px;
        justify-content: space-around;
        flex-wrap: wrap;


    }

    .titotext {

        margin-bottom: 30px;
    }

    .text {
        margin: 10px;
        width: 50%;
        background: #eee;
        padding: 40px;
    }

    #top3 {
        margin-bottom: 10px;
    }
    .animals {

        color: black;
        text-align: center;
        width: 400px;
    }

    .animals div {

        padding: 20px;
        border: 5px double mediumpurple;
        margin-bottom: 20px;

    }
    .animals a{
        margin: 30px;
        color: black;
    }

    .animals IMG {

        width: 50%;
        height: 50%;
        position: relative;
        right: 10px;
        bottom: 5px;
    }

    .animals a:hover{

        color: mediumpurple;
    }

    footer {

        display: flex;
        justify-content: center;
        background: black;
        min-width: auto;
        flex-wrap: wrap;
    }

    footer a {
        color: mediumpurple;
    }

    footer a:hover{
        color: antiquewhite;
    }

    .llicencia {

        text-align: center;
        color: antiquewhite;
        margin: 30px;
    }

    .biblio {
        color: antiquewhite;
        margin: 30px;
    }

    .follow {
        color: antiquewhite;
        margin: 30px;
    }

    @media (max-width: 1000px) {
        .princ {

            display: flex;
            padding: 120px;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .text {
            flex-grow: 1;
            background: #eee;
            padding: 40px;
        }

        header h2{

           margin: 40px;
            color: mediumpurple;
        }


    }



