*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "JetBrains Mono", sans-serif;
    color: black;
    flex-wrap: wrap;
}
header{

    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;

}

header h2 a{
    text-decoration: none;
    color: mediumpurple;
}

header h2 a:hover{

    transform: scale(1.1);
}

.boton div {

    background-color: aliceblue;
    min-width: auto;
    max-width: 700px;
    flex:1 0 600px;
    height: 12px;
    margin: 10px;
}

.boton a{

    display: flex;
    margin: 3px;
    font-weight: bold;
    color: mediumpurple;
    font-size: 20px;
}
.boton a:hover{

    transform: scale(1.1);
}
footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
}

footer a{
    color: mediumpurple;
}

footer a:hover{
    color: antiquewhite;
}
.llicencia{
    text-align: center;
    color: antiquewhite;
    margin: 30px;
}

.biblio{
    color: antiquewhite;
    margin: 30px;
    margin-right: 100px;

}
.follow {
    color: antiquewhite;
    margin: 30px;

}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 40px;


}
main div{

    flex: 0 300px;
    height: auto;
    margin-top: 90px;
    margin-left: 70px;
    text-align: center;
    border: 5px solid mediumpurple;
    padding: 20px;
    color: black;
}
main div a{

    margin: 10px;
    color: black;
}
main div a:hover{
    color: mediumpurple;
}

main div img {

    height: auto;
    width: 50%;
    margin: 10px;

}
main h1{

    margin: 40px;

}






