
* {
    margin: 0;
    padding: 0;

}

body {

    font-family: "JetBrains Mono", sans-serif;
    color: black;


}

header {

    display: flex;
    justify-content: space-between;
    background: black;
    width: 100%;

}
.boton{

    display: flex;
    margin-top: 90px;
    margin-right: 160px;
    width:auto;
}

.boton a:hover{

    color: antiquewhite;
    transform: scale(1.1);

}

header h2 a:hover{

    color: antiquewhite;
    transform: scale(1.1);
}

header h2{

    margin-top:  50px;
    margin-left: 120px;
    color: mediumpurple;
}

header h2 a{
    color: mediumpurple;
    text-decoration: none;
}

.boton div {

    margin: 10px;
    height: 30px;
}

.boton a {

    display: flex;
    margin: 3px;
    font-weight: bold;
    color: mediumpurple;
    font-size: 20px;

}
footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;

}

footer a{
    color: mediumpurple;
}

footer a:hover{
    color: antiquewhite;
}
.llicencia{
    text-align: center;
    color: antiquewhite;
    margin: 30px;
}

.biblio{
    color: antiquewhite;
    margin: 30px;
    margin-right: 100px;

}
.follow {
    color: antiquewhite;
    margin: 30px;

}
main{
    background:linear-gradient(35deg,cornflowerblue,lightgreen);
}